.spinner {  
    animation: rotate 600ms infinite linear;
    transform:translateZ(0px);
    position:absolute;
    left:50%;
    top:50%;
  }
  
  @keyframes rotate {  
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);} 
  }