.profile {
  text-align: center;
  margin: 20px auto;
  padding: 40px;
  max-width: 1200px;
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', Arial, sans-serif;
  color: #333;
}

.profile-page svg {
  color: #007bff;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.profile-page svg:hover {
  color: #0056b3;
}

.profile h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #343a40;
}

.profile p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.5;
  color: #495057;
}

.profile__info {
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile__info p {
  font-size: 1rem;
  color: #212529;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profile__info p span {
  font-weight: bold;
  margin-right: 8px;
}

.course__info {
  margin-top: 30px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.course__item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.course__item:hover {
  transform: translateY(-3px);
}

.profile__avatar {
  width: 130px;
  height: auto;
  border-radius: 4px;
  margin-right: 15px;
}

.course__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343a40;
  margin-right: 100px;
}
.Category{
  margin-left: 320px;
}
.Level{
  margin-left: 20px;
}
.Category p{
 margin-left: 10px;
}
.Category strong{
  margin-left: 20px;
}
.Level p{
  margin-left: 10px;
}
.Level strong{
  margin-left: 20px;
}

.profile__button {
  margin-top: 20px;
  margin-left: 60px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.profile__button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.profile__button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.remove-profile-btn{
  padding: 8px 12px;
  margin-left: 110px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
}
.remove-profile-btn:hover {
  background-color: #c82333;
}
